// layout.scss

.page {
}

.main {
	overflow: hidden;
	position: relative;
	flex: 1;
	@include rem(padding-top, $vr*2);
}

.layout--a {
	@include clearfix();
	position: relative;
	@include rem(margin, 0 $ggw);
	@include rem(max-width, $max-width);

	@media #{$BPF} {
		margin: 0 auto;
	}
}
