// calendar

.month__body {
  position: relative;
}

.week,
.days-heading {
  display: flex;
  width: 100%;
}

.day-header {
  position: relative;
  flex: 1;
  padding: 10px;
  margin: 2px;
  background-color: $primary-color-b;
  color: $brand-white;
}

.dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.day {
  position: relative;
  width: calc(100% / 7);
  padding: 10px;
  margin: 0;
  border: solid $brand-white;
  background-color: $primary-color-a;
  color: $brand-white;
  overflow: hidden;

  &.day--added {
    background-color: $primary-color-d;
  }

  &.day--all-added {
    background-color: $primary-color-c;
  }
}

.day__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
}

.day__amount-selected {
  position: relative;
  z-index: 2;
  color: $brand-black;

  &:after {
    content: '';
    position: absolute;
    background-color: $brand-white;
    display: inline-block;
    border-radius: 100%;
    padding: 12px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    top: 50%;
    margin-top: -1px;
  }
}

.day__btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: block;
  color: $brand-white;
  
  svg {
    fill: #fff;
    width: 12px;
    transition: transform 250ms ease;
  }

  &:hover,
  &:focus {

    svg {
      transform: scale(1.1) rotate(15deg);
    }
  }
}
