---
component: modal
hide: true
published: false
---

<div class="modal">
    <div class="modal-inner"></div>
     <div class="modal-close-text js-modal-close">Close</div>

</div>
<div class="modal-close-x js-modal-close"><i class="icon icon-close"></i></div>

<div class="modal-background"></div>