---
component: modal
hide: true
published: false
---

<div class="modal">
	<div class="modal-inner">
		<div class="js-modal-close modal-close"><i class="icon">close</i></div>
		<div class="modal-inner-content">{{!-- --}}</div>
	</div>
</div>
<div class="modal-background"></div>
