---
component: navigation-smallscreen
hide: true
published: false
---
<nav class="smallscreen-navigation" id="smallscreen-navigation">
	<div class="smallscreen-navigation-actions">
		<button class="btn navigation-close-btn action-menu-close">
			<i class="icon icon-placeholder"><b>close menu</b></i>
		</button>
	</div>

	<h4 class="smallscreen-navigation-title">Navigation</h4>
	<ul class="smallscreen-navigation-menu">
		<li class="smallscreen-nav-item">
			<a href="#" class="action-navigation-toggle" data-navigation-toggle-target="#navigation-toggle-target-a">About Element <i class="icon icon-placeholder"></i></a>
			<div id="navigation-toggle-target-a" class="navigation-toggle smallscreen-navigation-menu-secondary-container">
				<ul class="smallscreen-navigation-menu-secondary navigation-toggle-target">
					<li><a href="#">The Element story</a></li>
					<li><a href="#">Our Engaged Experts</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">Element board</a></li>
					<li><a href="#">Element executive team</a></li>
					<li><a href="#">Make an enquiry</a></li>
				</ul>
			</div>
		</li>
		<li class="smallscreen-nav-item"><a href="#">Aerospace</a></li>
		<li class="smallscreen-nav-item"><a href="#">Oil and Gas</a></li>
		<li class="smallscreen-nav-item"><a href="#">Transportation</a></li>
		<li class="smallscreen-nav-item"><a href="#">More Sectors</a></li>
		<li class="smallscreen-nav-item"><a href="#">Careers</a></li>
		<li class="smallscreen-nav-item"><a href="#">Contact us</a></li>
	</ul>

	<ul class="smallscreen-navigation-utility-menu">
		<li class="smallscreen-nav-item"><a href="#" class="utility-highlight">ElementDirect</a></li>
		<li class="smallscreen-nav-item"><a href="#">Approval Documents</a></li>
		<li class="smallscreen-nav-item"><a href="#">Our locations</a></li>
		<li class="smallscreen-nav-item"><a href="#">Search <i class="icon icon-placeholder"><b>search</b></i></a></li>
	</ul>
</nav>
