---
component: navigation-megamenu
hide: true
published: false
---

<section class="subnav">
	<header class="subnav-header">
		<h2 class="subnav-title">
			Expanded Menu Navigation
		</h2>
	</header>
	<div class="subnav-body">
		<article id="subnav-a" class="subnav-article">
			<header class="subnav-article-header">
				<h2 class="subnav-article-title">About Element</h2>
			</header>
			<div class="subnav-article-inner">
				<div class="region region-a">
					<div class="region-inner">
						<div class="block block-size-b">
							<figure class="subnav-figure-style-a subnav-animate-a">
								<img src="images/_temp/map-a.png" alt="alt text" />
							</figure>
						</div>
						<div class="block block-size-d">
							<ul class="subnav-list-style-a">
								<li><a href="#">The Element story</a></li>
								<li><a href="#">Our Engaged Experts</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Events</a></li>
							</ul>
						</div>
						<div class="block block-size-d">
							<ul class="subnav-list-style-a">
								<li><a href="#">Element board</a></li>
								<li><a href="#">Element executive team</a></li>
								<li><a href="#">Make an enquiry</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
