// header.less

.header {
	position: relative;
	padding: @vr*2 @ggw/2;
	margin: 0;
	background-color: @brand-color-a;
	//color: @brand-color-b;
	color: #fff;

	@media @BPC {
		position: fixed;
		top: 0;
		left:0;
		right:0;
		z-index: 2;
		text-align: center;
	}
}

.header-inner {
	.clearfix;
}

.logo {
	float: left;
	display: inline-block;

	@media @BPC {
		float: none;
	}
}

.logo-title {
	font-size: 20px;
	line-height: @vr*4;
	margin: 0;
	text-shadow: -2px 2px 3px rgba(0,0,0,0.7);

	@media @BPC {
		font-size: 66px;
		line-height: @vr*11;
	}
}

.header-actions {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: @ggw/2;

	@media @BPC {
		right: @ggw;
	}

	.icon {
		font-size: 45px;
	}
}
