.modal {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    min-width: 100%;
    max-width: 100%;
    //height: auto;
    z-index: 9002;
    display: none;
    opacity: 0;
    text-align: center;
    transition: opacity 150ms ease-in-out;
    height: 100%;
    overflow-y: auto;
    padding: @vr*5 0;
    z-index: -1;

    @media @BPF {
        // margin: @vr*6 @ggw @vr @ggw;
    }

    &.modal-in {
        display: block;
        z-index: 9999;
    }

    &.modal-show {
        opacity: 1;
    }
}

.modal-content {
    display: none;
}

.modal-inner {
    display: inline-block;
    position: relative;
    max-width: 980px;
    margin: auto;
    height: auto;
    width: auto;

    img {
        max-width: 100%;
        max-height: 80%;
        height: auto;
    }
}

.modal-inner-content {
    height: 100%;
    width: auto;
    padding: 30px @ggw 30px;
    color: #fff;
}

.modal-close {
    position: relative;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 99999;
    opacity: 1;
    display: none;
    transition: opacity 150ms ease-in-out;

    .icon {
    }

    .modal-in & {
        display: block;
    }
}

.modal-close-text {
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding-top:10px 0;
    cursor: pointer;
    opacity:1;

    &:hover {
        opacity: .80;
    }

    @media (min-width: @break-point-c) {
        font-size: 14px;
    }
}

.modal-background {
    .rgba-bg(#000000, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    display: none;
    opacity: 0;
    transition: opacity 100ms linear;

    &.modal-in {
        display: block;
    }

    &.modal-show {
        opacity: 1;
    }
}