---
title: Example Layout A
scaffolding: true
visibleGrid: true
visibleBreakpoints: true
---
{{#extend "layout-a"}}
	{{#content "sections-top"}}
	{{/content}}

	{{#content "region-a"}}
		<div class="page-header-alt">
			<div class="page-header-alt-inner">
				<h1 class="page-header-alt-title">Layout A <small>(.region-a)</small></h1>
			</div>
		</div>

		<h2>Region A <small>(.region-a)</small></h2>

		{{>gridblock gridblocks.a}}

		{{#repeat 2}}
		{{>gridblock gridblocks.b}}
		{{/repeat}}

		{{#repeat 3}}
			{{>gridblock gridblocks.c}}
		{{/repeat}}

		{{#repeat 4}}
			{{>gridblock gridblocks.d}}
		{{/repeat}}

		{{#repeat 1}}
			{{>gridblock gridblocks.e}}
			{{>gridblock gridblocks.c}}
		{{/repeat}}
		{{#repeat 1}}
			{{>gridblock gridblocks.f}}
			{{>gridblock gridblocks.g}}
		{{/repeat}}

	{{/content}}
{{/extend}}
