---
title: Modal Login
signedIn: true
showHeader: true
showFooter: true
---

{{#extend "layout-a"}}
	{{#content "region-a"}}
	<div class="modal-filter">
		<p>Proin at purus ut est tempor malesuada eget vitae ante. Sed vehicula consequat mi ac aliquet. Morbi finibus nunc a orci maximus, in convallis mi vulputate. Curabitur et aliquet eros, et dapibus nunc. Mauris auctor diam arcu, non sollicitudin metus efficitur ut. Donec purus lacus, posuere ac enim eu, placerat ullamcorper mi. Nam sed nunc vitae magna hendrerit ullamcorper sit amet eu risus. Cras semper egestas lobortis. Sed dignissim orci eros, ac mattis mauris hendrerit non. Nullam eget libero diam. Curabitur commodo placerat tincidunt. Vivamus porta non neque quis consequat. Nulla vitae lobortis libero, in rutrum neque. Pellentesque sed nisl malesuada sapien tincidunt ultricies.</p>
	</div>
	{{/content}}
{{/extend}}
