---
title: Modal example
signedIn: true
showHeader: true
showFooter: true
---

{{#extend "layout-a"}}
	{{#content "region-a"}}
	<p>
    <a href="#" class="js-modal-open modal-ajax"
      data-modal="true"
      data-endpoint="http://calendar.local.andyblackledge.co.uk/project_build/dist/calendar-app_modal-login.html"
    >
      Click to enable a basic modal.
    </a>
  </p>
	{{/content}}
{{/extend}}
