<article class="gridblock block block-size-{{size}} block-demo">
	<header class="gridblock-header">
		<h3 class="gridblock-title">.block-size-{{size}}</h3>
	</header>
	<div class="gridblock-body">
		<p>{{description}}</p>
	</div>
</article>