---
component: styleguide-icons
hide: true
published: false
---
<section class="block block-size-a section-styleguide" id="styleguide_icons">
	<h2 class="header-styleguide">Icons</h2>
	<dl class="dl-horizontal">

		<dt>.icon-search</dt>
		<dd><i class="icon icon-search"></i></dd>

		<dt>.icon-filled-arrow</dt>
		<dd><i class="icon icon-filled-arrow"></i></dd>

		<dt>.icon-play</dt>
		<dd><i class="icon icon-play"></i></dd>

		<dt>.icon-close</dt>
		<dd><i class="icon icon-close"></i></dd>


		<dt>.icon-arrow-up</dt>
		<dd><i class="icon icon-arrow-up"></i></dd>

		<dt>.icon-arrow-left</dt>
		<dd><i class="icon icon-arrow-left"></i></dd>

		<dt>.icon-arrow-down</dt>
		<dd><i class="icon icon-arrow-down"></i></dd>

		<dt>.icon-arrow-right</dt>
		<dd><i class="icon icon-arrow-right"></i></dd>

		<dt>.icon-expert</dt>
		<dd><i class="icon icon-expert"></i></dd>

		<dt>.icon-location</dt>
		<dd><i class="icon icon-location"></i></dd>

		<dt>.icon-test</dt>
		<dd><i class="icon icon-test"></i></dd>

		<dt>.icon-collection</dt>
		<dd><i class="icon icon-collection"></i></dd>

	</dl>
</section>
