---
component: header-logo
hide: true
published: false
---
<h1 class="header-logo" itemscope itemtype="http://schema.org/WPHeader">
	<a href="#">
		<img src="{{assets}}/{{images}}/_temp/element-logo-b.png" alt="{{project.client}}" />
		<span class="visually-hidden">{{project.client}}</span>
	</a>
</h1>
