---
component: header
hide: true
published: false
---
<header class="header" id="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
	<div class="header-inner">
		<div class="logo">
			<h1 class="logo-title">
				Pick a date
			</h1>
		</div>

		<div class="header-actions">
			<button type="button" class="btn btn-no-style header-actions-btn action-login">
				<i class="icon icon-login"><b>login</b>person</i>
			</button>
			<button type="button" class="btn btn-no-style header-actions-btn action-view-calendars">
				<i class="icon">menu</i>
			</button>
		</div>
	</div>
	<div class="login-window">
		<div class="login-window-inner">
			<button type="button" class="btn btn-no-style">
				<i class="cal-icon cal-icon-facebook"><b>Facebook login</b></i>
				<span>Login with Facebook</span>
			</button>
			<button type="button" class="btn btn-no-style">
				<i class="cal-icon cal-icon-twitter"><b>Twitter login</b></i>
				<span>Login with Twitter</span>
			</button>
			<button type="button" class="btn btn-no-style">
				<i class="cal-icon cal-icon-google"><b>Google login</b></i>
				<span>Login with Google</span>
			</button>
		</div>
	</div>
</header>
<!-- end #header -->
