---
component: header-navigation
hide: true
published: false
---
<nav class="header-navigation" id="navigation" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h4 class="header-navigation-title">Navigation</h4>
	<ul class="header-navigation-menu">
		<li><a href="#" class="action-subnav" data-subnav-target="#subnav-a"><span class="underline">About Element</span><i class="icon icon-placeholder"></i></a></li>
		<li><a href="#"><span class="underline">Aerospace</span></a></li>
		<li><a href="#"><span class="underline">Oil and Gas</a></span></li>
		<li><a href="#"><span class="underline">Transportation</a></span></li>
		<li><a href="#"><span class="underline">More Sectors</a></span></li>
		<li><a href="#"><span class="underline">Careers</a></span></li>
		<li><a href="#"><span class="underline">Contact us</a></span></li>
	</ul>
</nav>

